@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');


@font-face {
    font-family:'lato';
    src: url(../Portfolio/Fonts/Lato-Black.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Akira';
    src: url(../Portfolio/Fonts/Akira\ Expanded\ Demo.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Designer';
    src: url(../Fonts/Designer\ Expanded\ Demo.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #3e4041;
    --cor1: #26ABBD;
    --cor2: #37808A;
    --cor3: #8000F0;
    --cor4: #7626BD;
    --cor5: #63378A;

    --font-padrao: Ariel, Verdana, Helvetica, Sans-serif;
    --font-lato: 'lato','cursive';
    --font-Akira:'Akira';
    --font-Designer:'Designer';
    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}


header {
    color: white;
    background-image: linear-gradient(to bottom, #28133a, rgba(69, 64, 64, 0.43));
    text-align: center;
    padding-top: 30px;
    display: block;
}

h2, h1 {
    font-family: var(--font-Akira);
    display: block;
}

h1 {
    font-size: 100px;
    text-align: left;
    padding-left: 20%;
    line-height: 75px;
    
}

h2 {
    padding-right: 37%;
    font-size: 30px;
}

p {
    font-family: var(--font-lato);
    text-align: right;
    padding-right: 38%;
}

li, a {
    padding: 30px;
    position: absolute; top: 18%; left: 67%; transform: translate(-74%, -45%); 
    display: inline-block;
    list-style-type: none;
 }

