@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');


@font-face {
    font-family:'lato';
    src: url(../Fonts/Lato-Black.ttf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Akira';
    src: url(../Fonts/Akira\ Expanded\ Demo.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'Designer';
    src: url(../Fonts/Designer\ Expanded\ Demo.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #3e4041;
    --cor1: #26ABBD;
    --cor2: #37808A;
    --cor3: #8000F0;
    --cor4: #7626BD;
    --cor5: #63378A;

    --font-padrao: Ariel, Verdana, Helvetica, Sans-serif;
    --font-lato: 'lato','cursive';
    --font-Akira:'Akira';
    --font-Designer:'Designer';
    
}

body {
    background-image: radial-gradient(circle, rgba(96, 79, 99, 0.43), #1d0830);
    height: 100vw;
    width: 100vh;
    
}

.interface {
    position: absolute; top: 30%; left: 50%; transform: translate(-55%, -50%); 
} 

header {
    color: rgb(244, 244, 244);
    margin: 30px 80px;
    padding:40px ;
    display: block;
}

h1 ,h2 {
    margin-top: 40px;
    text-align:left;
    font-family: var(--font-Akira);
    font-size: 120px;
    display: block;
}

h1{
    line-height: 85px;
}

h2 {
    margin-bottom: calc(-41px);
    font-family: var(--font-Akira);
    font-size: 27px;
    text-align:left;
}

p {
    font-size: 20px;
    font-family: var(--font-lato);
    text-align: right;
    margin-top: calc(-79px);
}

#link {
    position: absolute; top: 27%; left: 67%; transform: translate(-74%, -45%); 
}

img {
    width: 40px ;
    height:40px ;
}
 li, a {
    padding: 7px;
    display: inline-block;
    list-style-type: none;
 }